{% extends "base.html" %}

{% block title %}History - Smart Budget Tracker{% endblock %}

{% block content %}
<h1>Transaction History</h1>

<div class="transactions-box">
    {% if transactions %}
        <table>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
            </tr>

            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.title }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category }}</td>
                <td>₹{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
                <td>
                    <form action="{{ url_for('delete_transaction', transaction_id=transaction.id) }}" method="POST" class="delete-form">
                        <button type="submit" class="icon-delete-btn" title="Delete Transaction">🗑️</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No transactions yet.</p>
    {% endif %}
</div>
{% endblock %}